body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.header,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.three {
    background-color: #E5E7EB;
}

.footer {
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}