body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer {
    text-align: center;
}

.header,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.center {
    display: flex;
    flex-direction: column;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.left-one {
    width: 400px;
    padding: 50px;
}

img.fun {
    width: 400px;
    padding: 50px;
}

.awesome {
    margin: 0;
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 48px
}

.twop {
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
}

.butt-one {
    font-size: 13px;
    margin-top: 5px;
    border: 0px;
    padding: 5px 20px;
    background: #3882F6;
    color: white;
    border-radius: 8px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.two-bottom {
    display: flex;
    justify-content: center;
    width: 650px;
    gap: 20px;
}

img {
    width: 150px;
    border-radius: 15px;
}
.info p {
    text-align: center;
    margin-top: 4px;
}

.three {
    background-color: #E5E7EB;
}
